body {
  background-color: aqua;
  margin: 0;
}

/* clase general de los divs */
.div-rojo {
  width: 50%;
  height: 200px;

  background-color: red;
  border-radius: 20px;

  margin: 10px; /* arriba - derehca - abajo -izquierda / arriba y abajo - derecha e izquierda*/
  border: 5px solid black; /* ancho del borde - tipo del borde - color*/
  padding: 20px 30px 5px 15px; /*arriba - derecha - abajo - izquierda / arriba y abajo - dercha e izquierda*/
  font-size: 40px;
}
#id-div-1 {
  background-color: blue;
}
#id-div-2 {
  background-color: yellow;
}
