body{
    background-color: aqua;
    margin: 0;
    font-family: sans-serif;
}

p,h1,h2{
    margin: 0;
}

#titulos{
    text-align: center;
    background-color: rgb(1, 119, 149);
    
    color: white;
}
#titulos span{
    color: rebeccapurple;
}
.div-grupos{
    cursor: pointer;
    box-sizing: border-box;
    width: 80%;/*ancho*/
    height: 100px; /*alto*/
    
    background-color: red;
    border-radius: 20px;

    margin: 10px 10px ;/*arriba - derecha - abajo - izquierda / arriva y bajo - derecha e izquierda*/
    border: 5px solid black; /* ancho del borde - tipo borde - color*/
    padding: 20px ; /*arriba - derecha - abajo - izquierda / arriva y bajo - derecha e izquierda*/
    font-size: 30px;
}


#id-div-1{
    position: relative;
    top: 50px;
    left: 100px;
    background-color: blue;
}
#id-div-2{
    width: 600px;
    position: sticky;
    top: 0;
    background-color: green;
    z-index: 1;
   
}
#id-div-3{
    position: relative;
    height: 1400px;
}
#id-div-4 {
    position:absolute;
    top: 0;
    right: 0;
    height: 200px;
    width: 500px;
    background-color: rgb(137, 43, 226);
    font-size: 25px; 
    z-index: 3;
}
#id-div-4:hover{
    scale: 1.05;
    border: 2px solid black;
}
#focus{
    display: none;
    position: absolute;
    z-index: 4;
    height: 300%;
    width: 100%;
    background-color: rgba(52, 52, 52, 0.66);
}

#si, #no{
    text-decoration:underline;
    cursor: pointer;
    color: blue;
}

#final-h2{
    margin: 20px 0;
    text-align: center;
}